.newscard{

    display: inline-flex;
    width: 20%;
    /* border-radius: 50px; */
    margin: 30px 10px;
 }

 .newscard__content{
    background-color: rgba(5, 5, 5, 0.8);
 }
.darknewscard__content{
    background-color: rgba(235, 235, 235, 0.8);
}
 .newscard__content img + p{
     padding: auto 20px;
     font-size: larger;
     font-weight: 700;
     color: red;
 }

 .newscard__content img{
     width: 100%;
        height: 200px;
     /* margin: auto 20px; */
 }

 .darknewscard__content img + p{
    padding: auto 20px;
    font-size: larger;
    font-weight: 700;
    color: green;
}

.darknewscard__content img{
    width: 100%;
       height: 200px;
    /* margin: auto 20px; */
}

.author{
    color: blue;
    width: 70%;
    display: flex;
    margin: auto 60px;
    justify-content: flex-end;
}

@media only screen and (max-width: 950px) {
    .newscard{

      
        width: 40%;
        /* border-radius: 50px; */
       
     }
}

@media only screen and (max-width: 500px) {
    .newscard{

      
        width: 100%;
        /* border-radius: 50px; */
       
     }
}